
<body class="backgroundcolor">
    <%= render "partials/navbar" %>

    <div class="container ">
        <div class="row justify-content-center ">
            <h1 class="margintoplil">Add Horse</h1>
        </div>
    </div>

    <%= form_with model: @horse, local: true do |f| %>
<!--  -->
</div>
<% end %>



</body>


    
    
    
    