<%= render "partials/nonadminnavbar" %>


<h1>Tippers</h1>

<table>
  <thead>
    <tr>
        <th>User Name</th>
        <th>Number Of Tips</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody class="container text-center justify-contents-center">

    

    <% @tippers.each do |tip_users| %>

  <tr > 
    <td class="col" style="width: 100px;"><%= tip_users.username %></td>
    <td class="col" style="width: 100px;"><%= tip_users.tips.count %></td>
    <td class="col" style="width: 100px;"><%= link_to 'Show Tips', show_tipper_path(tip_users) %></td>
  </tr>
  
  <% end %>
  



