// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  */
 
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
 * Globals
 */

.color1 {
    color: #fff5d0;
    
}

.color1btn { 
    background-color: #fff5d0 !important;
    color: #0f222d !important;
}

.backgroundcolor {
  background-color: #0f222d;
}
.backgroundcolornav {
  background-color: #687075;
}

.heading-bold {
        font-size: 200%;
}

.marginadd {
    margin: 10%;

}

.margintop {
    margin-top: 15%;
}

.margintoplil {
    margin-top: 2%;
}

.btnfont {
  font-size: 12px;
  padding: 18px 16px;
}


.margintopfooter {
    margin-top: 5%;
}

.marginzero {
  margin: 0%;
}

.profilemargin {
  margin-left: 3%;
}

.menubuttons {
  .btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
}



/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
//   text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
//   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
//   background-color: #0f222d;
//   background-image: image-url("Horse.jpg");
//   background-size: cover;
}

.text-center {
    background-color: #0f222d;
}

.cover-container {
  max-width: 42em;
  
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}





/*
 * Footer
 */

