<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
    <body class="text-center">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="img-fluid">
                    <%= image_tag("logo.png", :alt => "A picture of a logo", class: "img-fluid", ) %>
                </div>
                <div class="container ">
                    <div class="row ">
                        <div class="cover-container d-flex w-100 h-100 p-4 mx-auto justify-content-center">
                            <header class="masthead mb-auto">
                                <div class="inner">
                                </div>
                                <nav class="nav nav-masthead ">
                                    <a class="nav-link active color1 " href="#">Home</a>
                                    <a class="nav-link color1 " href="#">Features</a>
                                    <a class="nav-link color1 " href="#">Reviews</a>
                                </nav>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="cover-container w-100 h-100 p-4 mx-auto justify-content-center">
                                        <button type="button " class="btn color1btn">Login</button>
                                        <button type="button " class="btn color1btn">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  </header>


  <div class="container">
      <div class="row">
          <main role="main" class="inner cover my-auto">
            <h1 class="cover-heading color1 marginadd">OnlyTips</h1>
            <p class="lead color1 marginadd">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium iusto quidem nulla, ipsam consequatur expedita in ducimus illo deleniti sunt voluptatibus accusantium iste nihil neque, error quaerat fugit omnis voluptatem.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary color1btn marginadd">Learn more</a>
            </p>
            <h1 class="cover-heading color1 marginadd">OnlyTips Preview</h1>
            <%= image_tag("placeholder.jpg", :alt => "A picture of a logo", class: "img-fluid") %>
          </main>
      </div>
  </div>


  <div class="container marketing">

    <div class="row">
        <div class="col-lg-4 color1 margintop">
        <svg class=" color1 bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 color1 margintop">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 color1 margintop">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->





</div>
</body>
</html>